*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}
body{
    background: hsl(233, 47%, 7%);
    font-size: 15px;
}
section{
    width: 1440px;
    margin: auto;
    padding: 150px;
}
.container.col {
    padding: 0 75px 25px 50px  ;
    margin: auto;
}
.row{
    display: flex;
    margin: auto;
    background: hsl(244, 38%, 16%);
    height: 446px;
    border-radius: 10px;
}

/*Heading style*/
.heading{
    padding: 0 10px 20px;
    font-size: 25px;
}
.heading span{
    color: hsl(277, 64%, 61%);
}
.heading h1{
    color: hsl(0, 0%, 100%);
}

/*Paragraph Style*/
.paragraph p{
    padding: 20px 50px 60px 10px;
    color: hsla(0, 0%, 100%, 0.75);
}
.text-row p{
    color: hsla(0, 0%, 100%, 0.6);
    padding-top: 7px;
    font-size: 13px;
}
.text-row h3{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}
.text-row{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 10px 10px;
    margin: auto;
}
.container{
    flex-basis: 50%;
}

.container-img{
    flex-basis: 45%;
    width: 100%;
    background: url("images/image-header-desktop.jpg");
    position: relative;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(hsl(277, 64%, 61%), hsl(277, 64%, 61%)) ;
}
